<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/carousel.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="carousel-box">
      <div class="carousel-item-list">
        <div class="carousel-item"> picture1 </div>
      </div>
      <a class="carousel-control-prev"> <span> < </span></a>
      <a class="carousel-control-next"> <span> > </span></a>
    </div>

  </body>
</html>
