<!DOCTYPE html>
<html>
  <head>
    <title>AMAZON PRIME</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/carousel.css' />
  </head>
  <body>
    <h1>carousel</h1>
    <p>Welcome to <%= title %></p>

    <div class="carousel_box">
      <div class="carousel_item_list">
  
      </div>
      <a class="carousel_control_prev"> <span> < </span></a>
      <a class="carousel_control_next"> <span> > </span></a>
    </div>

    <div class="card_box">
        <div class="card_item">
          card
        </div>
      </div>
    <script src='../javascripts/EventEmitter.min.js'></script>
    <script type="module" src="../javascripts/load-view.js"></script>
  </body>
</html>
