<!DOCTYPE html>
<html>
  <head>
    <title>AMAZON PRIME</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/carousel.css' />
  </head>
  <body>
    <h2>mini carousel</h2>
    <div class="carousel_box mini_carousel_box">
      <div class="carousel_item_list">
  
      </div>
      <a class="carousel_control_prev"> <span> < </span></a>
      <a class="carousel_control_next"> <span> > </span></a>
    </div>

    <h2>main carousel</h2>
    <div class="card_box">

    </div>
    <div class="carousel_box main_carousel_box">
        <div class="carousel_item_list">
  
        </div>
        <a class="carousel_control_prev"> <span> < </span></a>
        <a class="carousel_control_next"> <span> > </span></a>
    </div>
    <script src='../javascripts/EventEmitter.min.js'></script>
    <script type="module" src="../javascripts/load-view.js"></script>
  </body>
</html>
