<!DOCTYPE html>
<html>
  <head>
    <title>AMAZON PRIME</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/carousel.css' />
    <%
    let userdata = {};
    if(status == 200){
      userdata = data;
    }
    %>
  </head>
  <body>
    <header>
     
      <div class="header_wrap">
        <%if(data.is_logined != true){%>
        <span class="loginbtn" > <a href="/loginpage"> login</a></span>
        <%}else{%>
        <span class="loginbtn" id ="logout"> logout </span>
        <%}%>
        <span class="loginbtn adminbtn" > <a href="/admin/main"> ADMIN</a></span>
        <%if(data.is_logined == true){%>
        <span class="login_name"> <span><%=data.name%></span> 님 </span>
        <%}%>
      </div>
    </header>
    <h2>mini carousel</h2>
    <div class="carousel_box mini_carousel_box">
      <div class="carousel_item_list">
  
      </div>
      <a class="carousel_control_prev"> <span> < </span></a>
      <a class="carousel_control_next"> <span> > </span></a>
    </div>

    <h2>main carousel</h2>
    <div class="card_box">

    </div>
    <div class="carousel_box main_carousel_box">
        <div class="carousel_item_list">
          
  
        </div>
        <a class="carousel_control_prev"> <span> < </span></a>
        <a class="carousel_control_next"> <span> > </span></a>
    </div>

    
    <script src='../javascripts/EventEmitter.min.js'></script>
    <script type="module" src="../javascripts/view/load-view.js"></script>
  </body>
</html>
