<!DOCTYPE html>
<html>
  <head>
    <title>AMAZON PRIME</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/carousel.css' />
  </head>
  <body>
    <h1>carousel</h1>
    <p>Welcome to <%= title %></p>

    <div class="carousel_box">
      <div class="carousel_item_list">
  
      </div>
      <a class="carousel_control_prev"> <span> < </span></a>
      <a class="carousel_control_next"> <span> > </span></a>
    </div>

    <div class="card_box">
        <div class="card_item ship-card">
            <div class="card_clickable">
                <div class="card_title">Ship</div>
            </div>
            <div class="card_content">
              <div id="ship-group" class="dot_box">
                <div class="dot off" role="tab" data-page="1">1</div>
                <div class="dot off" role="tab" data-page="2">2</div>
                <div class="dot off" role="tab" data-page="3">3</div>
                <div class="dot on" role="tab" data-page="4"></div>
              </div>
            </div>
        </div>
      </div>
    <script src='../javascripts/EventEmitter.min.js'></script>
    <script type="module" src="../javascripts/load-view.js"></script>
  </body>
</html>
