@charset "UTF-8";
@import url("reset.css");
@import url("header.css");
@import url("style.css");

.left_menu{
    vertical-align: top;
}

.card{
    width: 16rem;
    display: inline-block;
    padding : 0.5rem;
    margin : 0.5rem;
}