<!DOCTYPE html>
<html>
  <head>
    <title>AMAZON PRIME</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='../../stylesheets/admin-main.css' />
   
  </head>
  <body>
    <header>
      <div class="header_wrap">
        <span class="header_title"> 관리자 페이지 </span>
      </div>
    </header>
    <div class="container">
      <span class="page_subtitle">관리자 페이지 - 사용자 확인 </span>
    </div>
    <div class="container">
      <div class="left_menu">
        <p>left menu</p>
        <p> <a href="/admin/carousel/uploadform">케로셀 등록</a> </p>
      </div>
      <div class="right_container">
        <div class ="user_list">
            <table  class="table userlist_table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">ID</th>
                    <th scope="col">이름</th>
                    <th scope="col">email</th>
                    <th scope="col">admin</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
              <div class="readmore_btn" value="0"> 더보기</div>
        </div>
      </div>
         
    </div>
    <script type="module" src="../../javascripts/view/load-view-admin-main.js"></script>
  </body>
</html>
